
# sends UDP packets to port 5002. The kernel
#implementation of the protocol is used.

sender {
	packet = kernel;
	ip {
		dst = 127.0.0.1;
		src = 127.0.0.1;
	}

	udp {
		sport = 5000;
		dport = 5002;

	}

	traffic {

		#send 20 packets each 1000 bytes, wait 1.0 second
		#repeat this pattern 3 times
		pattern {
			sendpackets = 20;
			size = 1000;
			delay = 1.0;
			repeat = 3;

		}

		#send 5 packets each 100 bytes, wait 1.0 second
		#repeat this pattern 3 times
		pattern {
			sendpackets = 5;
			repeat = 3;
			delay = 1.0;
			size = 100;
		}
		repeat = 0;
	}
}


# sends tcp packets to port 6002.
sender {
	#do not use the kernel implementation of the protocols
	packet = raw;
	ip {
		dst = 127.0.0.1;
		src = 127.0.0.1;
		id = 12345;
		ttl = 100;
		tos = 2;
	}

	tcp {
		sport = 6000;
		dport = 6002;
		syn = 1;
		push = 1;
		acknum = 12345;
	}

	traffic {
		pattern {
			sendpackets = 5;
			repeat = 3;
			delay = 3.0;
			size = 100;
		}
		repeat = 1;
	}
}